In [20]:
using Random

In [6]:
A = filter(iseven, 1:10)
B = filter(isodd, 1:10)
C = [4, 8, 10, 7, 2]

5-element Array{Int64,1}:
  4
  8
 10
  7
  2

In [7]:
count(isodd, A)

0

In [8]:
count(isodd, B)

5

In [9]:
# takes on argument x, and checking if x is larger than 5
count(x -> x > 5, A)

3

In [10]:
count(x -> x > 5, B)

2

In [11]:
# function argument is first aka count, input A
# then for every value x DO something
count(A) do x 
    x > 5
end

3

In [12]:
all(isodd, A)

false

In [13]:
all(x -> x < 20, A)

true

In [14]:
sum([1, 2, 3])

6

In [15]:
prod([2, 3, 4])

24

In [16]:
factorial(3)

6

In [24]:
shuffle!(A) # in-place shuffle

5-element Array{Int64,1}:
  2
  8
  6
 10
  4

In [25]:
A

5-element Array{Int64,1}:
  2
  8
  6
 10
  4

In [26]:
sort(A)

5-element Array{Int64,1}:
  2
  4
  6
  8
 10

In [27]:
shuffle(A)

5-element Array{Int64,1}:
  6
  8
  4
 10
  2

In [28]:
A

5-element Array{Int64,1}:
  2
  8
  6
 10
  4

In [29]:
A = [4, 5, 6, 7]
foreach(println, A)

4
5
6
7

In [31]:
adder(x) = y -> x + y
byfour = adder(4)

#13 (generic function with 1 method)

In [32]:
byfour(1)

5

In [33]:
byfour(4)

8

In [34]:
function multiplier(x)
    function (y)
        x * y
    end
end

multiplier (generic function with 1 method)

In [35]:
bysix = multiplier(6)

#15 (generic function with 1 method)

In [36]:
bysix(2)

12